DEBUG=False
IS_PROD=True

SECRET_KEY=your-secret-key

ALLOWED_HOSTS=bloomify.pythonanywhere.com,127.0.0.1,localhost

CORS_ALLOWED_ORIGINS=https://bloomify.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=https://bloomify.pythonanywhere.com

DB_TYPE=SQLITE3

TELEGRAM_BOT_TOKEN=