DEBUG=True
IS_PROD=True
SECRET_KEY=ajhferbtfioawvnjwjdNKjbelkNAJbsj

ALLOWED_HOSTS=bloomify.pythonanywhere.com

CORS_ALLOWED_ORIGINS=http://bloomify.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=http://bloomify.pythonanywhere.com

DB_TYPE=SQLITE3

TELEGRAM_BOT_TOKEN=