# SECURITY SETTINGS
SECRET_KEY=your-secret-key-here

# DEBUG MODE (True for local, False for production)
DEBUG=True

# ALLOWED HOSTS (add production domain when deploying)
ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com